.wbmpl_main_container
{
    display: block;
    
    ul
    {
        margin: 0;
    }
    
    ul li
    {
        list-style: none;
        margin: 0;
    }
    
    ul li a
    {
        text-decoration: none;
    }
    
    ul li p
    {
        margin: 0;
    }
    
    .wbmpl_main_title
    {
        margin-bottom: 10px;
    }
    
    .wbmpl_list_details
    {
        > div
        {
            display: inline-block;
            margin: 0 3px;
        }
        
        :first-child
        {
            margin-left: 0;
        }
    }
}

.wbmpl_main_container_default
{
    .wbmpl_grid
    {
        li
        {
            display: inline-block;
        }
    }
    
    .wbmpl_grid.wbmpl_grid1
    {
        li
        {
            width: 98%;
            margin: 0 1%;
        }
    }
    
    .wbmpl_grid.wbmpl_grid2
    {
        li
        {
            width: 48%;
            margin: 0 1%;
        }
    }
    
    .wbmpl_grid.wbmpl_grid3
    {
        li
        {
            width: 31.33%;
            margin: 0 1%;
        }
    }
    
    .wbmpl_grid.wbmpl_grid4
    {
        li
        {
            width: 23%;
            margin: 0 1%;
        }
    }
    
    .wbmpl_grid.wbmpl_grid5
    {
        li
        {
            width: 18%;
            margin: 0 1%;
        }
    }
}