.wbmpl_main_container{display: block;}
.wbmpl_main_container ul{margin: 0;}
.wbmpl_main_container ul li{list-style: none; margin: 0;}
.wbmpl_main_container ul li a{text-decoration: none;}
.wbmpl_main_container ul li p{margin: 0;}
.wbmpl_main_container .wbmpl_main_title{margin-bottom: 10px;}